{% extends 'base.html' %}
{% load static %}

{% block title %} | Home {% endblock %}

{% block content %}

<div class="wraper">  

{% include "partials/_header_top.html" %}
{% include "partials/_header_bottom.html" %}



  <!-- ====== Slider Start ====== -->
  <div id="slider">
    <div id="rev_slider_1174_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="inspiration-header" data-source="gallery" style="background-color:transparent;padding:0px;"> 
      <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
      <div id="rev_slider_1174_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
        <ul>
          <!-- SLIDE  -->
          <li data-index="rs-3238" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description=""> 
            <!-- MAIN IMAGE --> 
            <img src="{% static 'img/transparent.png' %}" data-bgcolor="#f9f9f9" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina> 
            <!-- LAYERS --> 
            
            <!-- LAYER NR. 1 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
       id="slide-3238-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['-264','-264','-371','-416']" 
       data-y="['top','top','top','top']" data-voffset="['-135','-135','-180','-203']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 5;border-width:0px;"><img src="{% static 'img/ipod.png' %}" alt="" data-ww="['650px','650px','650px','650px']" data-hh="['500px','500px','500px','500px']" width="650" height="500" data-no-retina> </div>
              
              
              
              
              
              
              
              
<!-- LAYER NR. 1 -->
            <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
       id="slide-3238-layer-4" 
       data-x="['left','left','left','left']" data-hoffset="['-264','-164','-071','-416']" 
       data-y="['top','top','top','top']" data-voffset="['-1','-1','-9','-103']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 5;border-width:0px;"><img src="{% static 'img/headset.png' %}" alt="" data-ww="['650px','650px','650px','650px']" data-hh="['500px','500px','500px','500px']" width="650" height="500" data-no-retina> </div>              
              
              
              

            
            <!-- LAYER NR. 2 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
       id="slide-3238-layer-5" 
       data-x="['right','right','right','right']" data-hoffset="['30','30','-70','-144']" 
       data-y="['top','top','top','top']" data-voffset="['-204','-204','-233','-261']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 6;border-width:0px;"><img src="{% static 'img/bible.png' %}" alt="" data-ww="['700px','700px','700px','700px']" data-hh="['600px','600px','600px','600px']" width="700" height="600" data-no-retina> </div>
            
            <!-- LAYER NR. 3 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" 
       id="slide-3238-layer-6" 
       data-x="['left','left','left','left']" data-hoffset="['-372','-372','-540','-638']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-484','-484','-520','-522']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 7;border-width:0px;"><img src="{% static 'img/header_papers.png' %}" alt="" data-ww="['900px','900px','900px','900px']" data-hh="['1000px','1000px','1000px','1000px']" width="900" height="1000" data-no-retina> </div>
            
            <!-- LAYER NR. 4 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-12" 
       id="slide-3238-layer-9" 
       data-x="['left','left','left','left']" data-hoffset="['134','134','-2','-57']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['67','67','50','6']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 8;border-width:0px;"><img src="{% static 'img/header_marker.png' %}" alt="" data-ww="['200px','200px','200px','200px']" data-hh="['300px','300px','300px','300px']" width="200" height="300" data-no-retina> </div>
            
            <!-- LAYER NR. 5 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" 
       id="slide-3238-layer-10" 
       data-x="['left','left','left','left']" data-hoffset="['181','181','30','-39']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-170','-170','-190','-212']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 9;border-width:0px;"><img src="{% static 'img/header_edding.png' %}" alt="" data-ww="['300px','300px','300px','300px']" data-hh="['400px','400px','400px','400px']" width="300" height="400" data-no-retina> </div>
            
            <!-- LAYER NR. 6 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-12" 
       id="slide-3238-layer-11" 
       data-x="['left','left','left','left']" data-hoffset="['393','393','201','81']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['218','218','183','191']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 10;border-width:0px;"><img src="{% static 'img/header_paperclip.png' %}" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina> </div>
            
            <!-- LAYER NR. 7 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" 
       id="slide-3238-layer-12" 
       data-x="['left','left','left','left']" data-hoffset="['346','346','165','36']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['255','255','237','231']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"y:bottom;rZ:90deg;","speed":2000,"to":"o:1;rZ:310;","delay":550,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 11;border-width:0px;"><img src="{% static 'img/header_paperclip.png' %}" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina> </div>
            
            <!-- LAYER NR. 8 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
       id="slide-3238-layer-7" 
       data-x="['right','right','right','right']" data-hoffset="['-364','-364','-479','-553']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-155','-155','-180','-202']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 12;border-width:0px;"><img src="{% static 'img/header_tablet.png' %}" alt="" data-ww="['730px','730px','730px','730px']" data-hh="['520px','520px','520px','520px']" width="730" height="520" data-no-retina> </div>
            
            <!-- LAYER NR. 9 -->
            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" 
       id="slide-3238-layer-8" 
       data-x="['right','right','right','right']" data-hoffset="['222','222','105','8']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['8','8','-17','-10']" 
            data-width="none"
      data-height="none"
      data-whitespace="nowrap"
 
      data-type="image" 
      data-basealign="slide" 
      data-responsive_offset="on" 

      data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 13;border-width:0px;"><img src="{% static 'img/header_pen.png' %}" alt="" data-ww="['300px','300px','300px','300px']" data-hh="['500px','500px','500px','500px']" width="300" height="500" data-no-retina> </div>
            
            <!-- LAYER NR. 10 -->
            <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" 
       id="slide-3238-layer-1" 
       data-x="['center','center','center','center']"
       data-y="['top','top','top','top']"
       data-hoffset="['0','0','0','0']" 
       data-type="text" 
       data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>Think <span>Big.</span> </div>
            
            <!-- LAYER NR. 11 -->
            <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" 
       id="slide-3238-layer-15" 
       data-x="['center','center','center','center']"
       data-y="['top','top','top','top']"
       data-hoffset="['0','0','0','0']" 
       data-type="text" 
      data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>Do <span>Creative.</span> </div>
            
            <!-- LAYER NR. 12 -->
       <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" 
       id="slide-3238-layer-16" 
       data-x="['center','center','center','center']"
       data-y="['top','top','top','top']"
       data-hoffset="['0','0','0','0']" 
       
      data-type="text" 
      
      data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>Join <span>Mortified </span> </div>
            
            <!-- LAYER NR. 13 -->
      <div class="tp-caption content tp-resizeme rs-parallaxlevel-2" 
       id="slide-3238-layer-2" 
       data-x="['center','center','center','center']" data-hoffset="['-8','-8','-8','-8']" 
       data-type="text" 
       data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
            
            <!-- LAYER NR. 14 -->
            <div class="tp-caption buttons rev-btn rs-parallaxlevel-3" 
       id="slide-3238-layer-3" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
      
      data-type="button" 
     
      data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(32, 85, 199, 1.00);bs:solid;"}]'><a class="view_more" href="javascript:void(0)" title="View More">View More </a> <a class="view_more" href="newsletter/" title="newsletter">Newsletter </a> </div>
            
            <!-- LAYER NR. 15 -->
            <div class="tp-caption rev-scroll-btn revs-dark  rs-parallaxlevel-5" 
       id="slide-3238-layer-13" 
       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
       data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']" 
            data-width="35"
      data-height="55"
      data-whitespace="nowrap"
 
      data-type="button" 
      data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
      data-basealign="slide" 
      data-responsive_offset="on" 
      data-responsive="off"
      data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      data-textAlign="['left','left','left','left']"
      data-paddingtop="[0,0,0,0]"
      data-paddingright="[0,0,0,0]"
      data-paddingbottom="[0,0,0,0]"
      data-paddingleft="[0,0,0,0]"

      style="z-index: 19; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 400;border-color:rgba(51, 51, 51, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"> <span> </span> </div>
          </li>
        </ul>
        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
      </div>
    </div>
    <script>
var tpj=jQuery;

var revapi1174;
tpj(document).ready(function() {
if(tpj("#rev_slider_1174_1").revolution == undefined){
revslider_showDoubleJqueryError("#rev_slider_1174_1");
}else{
revapi1174 = tpj("#rev_slider_1174_1").show().revolution({
sliderType:"hero",
jsFileLocation:"revolution/js/",
sliderLayout:"fullscreen",
dottedOverlay:"none",
delay:9000,
navigation: {
},
responsiveLevels:[1240,1024,778,480],
visibilityLevels:[1240,1024,778,480],
gridwidth:[1240,1024,778,480],
gridheight:[868,768,960,720],
lazyType:"none",
parallax: {
type:"scroll",
origo:"slidercenter",
speed:400,
levels:[10,15,20,25,30,35,40,-10,-15,-20,-25,-30,-35,-40,-45,55],
type:"scroll",
},
shadow:0,
spinner:"off",
autoHeight:"off",
fullScreenAutoWidth:"off",
fullScreenAlignForce:"off",
fullScreenOffsetContainer: "",
fullScreenOffset: "60px",
disableProgressBar:"on",
hideThumbsOnMobile:"off",
hideSliderAtLimit:0,
hideCaptionAtLimit:0,
hideAllCaptionAtLilmit:0,
debugMode:false,
fallbacks: {
simplifyAll:"off",
disableFocusListener:false,
}
});
}
}); /*ready*/
</script> 
  </div>
  <!-- ====== Slider End ====== --> 
  

  
    
<!-- ====== Portfolio Start ====== -->
<section id="portfolio">
  <div class="container">
      <div class="section_heading">
        <h1>Our <span>Gallery</span></h1>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      </div>
    
      <div class="col-lg-12 col-md-12 col-xs-12">

        <div class="row portfolio-gallary">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item design development">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_1.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Photography</a> </div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_1.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item app logo">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_2.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Ecommerce</a> </div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_2.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item development logo">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_3.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Education</a>
                                </div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_3.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item design development logo">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_4.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Real Estate</a> </div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_4.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item app web development">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_5.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Bar & Restaurant</a></div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_5.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>
                      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 port-item design development">
                        <div class="project portfolio-inner">
                            <img src="img/portfolio/thumbnail/project_6.jpg" alt="project">
                            <div class="label">
                                <div class="label-text"> <a href="portfolio-detail.html" class="text-title">Saloon & Spa</a></div>
                                <div class="label-bg"></div>
                            </div>
                            <div class="zoom"> <a href="img/portfolio/large/project_6.jpg" class="popup-box"  data-lightbox="image" data-title="Project"> <i class="flat flaticon-magnifying-glass"></i> </a> </div>
                        </div>
                    </div>

                </div>
                
                
      </div>
    
  </div>
</section>
<!-- ====== Portfolio End ====== --> 
    

    
    
    
    

    
 
    
  <!-- ====== Team Start ====== -->
  <section id="our_team" class="gray-bg">
    <div class="container">
      <div class="section_heading">
        <h2>Our <span>Team</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> We have a team of members who are God-fearing, spiritually and morally seasoned, 
					committed and dedicated to the actualization of our vision, and are consistently working to ensure that the work of God 
					is brought to a good finish. They are trained and thoroughly schooled to carry out their functions by God and in good 
					faith.<br>&nbsp;Our team consists of the following departments below… </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
        <div class="team-slider owl-two owl-carousel owl-theme">
		
		
		
		
          <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/eric.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Eric Gugua</a></h5>
              <span>Faculty Instructor</span> </div>
            
          
          </div>
          
		  
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/ruby.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Ruby Glory</a></h5>
              <span></span> </div>
           
          
          </div>
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/joseph.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Joseph Immanuel</a></h5>
              <span></span> </div>
            
         
          </div>
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/obie.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Obie Umenwa</a></h5>
              <span>Designer</span> </div>
            
         
          </div>
		  
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/shelunim.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Shelunim Utam</a></h5>
              <span></span> </div>
         
         
          </div>
		  
		  
		  
		  <div class="item team-card">
           
            <div class="client_dp"> <img src="{% static 'img/team/train.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Train Ebi-Owokeduobere Dunu</a></h5>
              <span></span> </div>
         
         
          </div>
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/duru.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Duru Adaugo Precious</a></h5>
              <span>Designer</span> </div>
            
         
          </div>
		  
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/goni.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Goni Henry Kenneth</a></h5>
              <span>Designer</span> </div>
          
         
          </div>
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/diepreye.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Diepreye Achimota Dickson</a></h5>
              <span></span> </div>
           
          
          </div>
		  
		  
		  <div class="item team-card">
           
            <div class="client_dp"> <img src="{% static 'img/team/bildad.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Bildad Luka</a></h5>
              <span></span> </div>
          
         
          </div>
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/omamodhi.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Omamodhi GodGift Kome</a></h5>
              <span></span> </div>
           
          
          </div>
		  
		  
		  
		  
          
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/grace.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Grace Ene Godwin Ochela</a></h5>
              <span></span> </div>
           
         
          </div>
         

		 
         
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/josephA.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Joseph Ashi Utam</a></h5>
              <span>Designer</span> </div>
           
         
          </div>
		  
		  
		  <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/adedoyin.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="#">Adedoyin Kolade</a></h5>
              <span></span> </div>
           
          
          </div>
		  
		  
		  
		  
		
		
		
		
		
		<!--
		
		
		 <div class="item team-card">
            
            <div class="client_dp"> <img src="{% static 'img/team/eric.jpg' %}" alt="Team" /> </div>
            <div class="name_designation">
              <h5><a href="team-member-detail.html">Rebecca Stormville</a></h5>
              <span>Designer</span> </div>
            <div class="description">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown</p>
            </div>
            <div class="social_links">
              <ul>
                <li><a href="javascript:void(0)" title="Facebook" ><i class="flat flaticon-facebook-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Twitter" ><i class="flat flaticon-twitter"></i></a></li>
                <li><a href="javascript:void(0)" title="Google" ><i class="flat flaticon-google-plus-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Linkedin" ><i class="flat flaticon-linkedin-logo"></i></a></li>
                <li><a href="javascript:void(0)" title="Instagram" ><i class="flat flaticon-instagram"></i></a></li>
              </ul>
            </div>
         
          </div>
		
		
		
		
		-->
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>

  <!-- ====== Team End ====== --> 


    
    
  <!-- ====== Client Start ====== -->
  <div id="client">
    <div class="container">
      <div class="col-lg-12 ">
        <div class="team-slider owl-three owl-carousel owl-theme">
          <div class="item"> <img src="img/client-1.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-1.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-2.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-3.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-4.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-5.jpg" alt="Client" /> </div>
          <div class="item"> <img src="img/client-6.jpg" alt="Client" /> </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="overlay"></div>
  </div>
  <!-- ====== Client End ====== --> 






  <section class="blog-area section">
   <div class="container">
      <div class="section_heading ">
        <h2>Our <span>Teachings</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      </div>
	  
		<div class="container infinite-container">
            {% if articles %}
			<div class="row infinite-item">
                {% for article in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image">
                                <img src="{{ article.image.url }}"
                                     alt="Blog Image"
                                     width="330" height="220"
                                >
                            </div>

							<a class="avatar" href="{% url 'blog:minister_articles' article.minister.username %}">
                                <img class="profile-image" src="{{ article.minister.profile.image.url }}" alt="Profile Image">
                            </a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

								<ul class="post-footer">
                  <li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
                  <li><i class="ion-ios-chatbubbles"></i>{{ article.comments.count }}</li>
                  <li><a><i class="ion-ios-eye"></i>{{ article.views }}</a></li>
                </ul>

							</div><!-- article-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
                {% endfor %}
			</div><!-- row -->
            {% else %}
                <div class="alert alert-warning"><b>No Articles</b></div>
            {% endif %}
			
			
			
        {# Pagination for article post #}
            {% if is_paginated %}

                {# Displays previous pages #}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.previous_page_number }}">Previous
                    </a>
                {% endif %}

                {# Displays current page #}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                 {% endfor %}

                {# Displays next pages #}
               {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.next_page_number }}">Next
                    </a>
                    <a class="btn btn-outline-info mb-4"
                       href="?page={{ page_obj.paginator.num_pages }}">Last
                    </a>
                {% endif %}

            {% endif %}
			</div>
		</div><!-- container -->
	</section><!-- section -->











  <!-- ====== Testimonials Start ====== -->
  <section id="testimonials" class="gray-bg">
    <div class="container">
      <div class="section_heading ">
        <h2>Testimonials</h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
        <div class="testimonials-slider owl-five owl-carousel owl-theme">
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp1.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Tina Roth Eisenburg</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp2.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Phil Davies</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp3.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Joanna Monteith</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp1.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Tina Roth Eisenburg</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp2.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Phil Davies</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp3.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Joanna Monteith</h5>
                <span>Client</span> </div>
            </div>
          </div>
           <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp1.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Tina Roth Eisenburg</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp2.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Phil Davies</h5>
                <span>Client</span> </div>
            </div>
          </div>
          <div class="item ">
            <div class="comment">
              <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="client_detail">
              <div class="client_dp"> <img src="img/client_dp3.jpg" alt="Client DP" /> </div>
              <div class="name_designation">
                <h5>Joanna Monteith</h5>
                <span>Client</span> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <!-- ====== Testimonials End ====== -->
    
















</div>

{% endblock %}