{% extends 'base.html' %}
{% load static %}

{% block title %} | Home {% endblock %}

{% block content %}

<div class="wraper">  

{% include "partials/_header_top.html" %}

{% include "partials/_header_bottom.html" %}



<body>
    <!-- ====== Preloader ====== -->
      <div class="preloader js-preloader flex-center">
			<div class="dots">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>

<div class="wraper-v2-inner">
    
    
    
    

    
    
    
    
    
    
    
<!-- ====== Banner Start ====== -->
<section id="mortifiedcrew3" class="index-3">
  <div class="container">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <div class="inner-heading">
        <h2>About Us</h2>
        <div class="separator left-align">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ====== Banner End ====== --> 

<!-- ====== About Us Start ====== -->
  <section id="about-us" class="index-3">
    <div class="container">
   <h2 class="d-none">Heading</h2>
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row row-safari">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-area"> <img class="img_sec" src="img/about_us_2.jpg" alt="About" /> </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 content-area">
            <div class="about-heading">Working with God</div>
            <p><strong>MORTIFIED </strong>is a non-denominational, 
		Christian Discipleship and Growth platform that fosters the believer’s journey. We hold fast the tenets 
		of scripture with relation to Christian doctrine and the normal Christian life. We are not bound by geographical 
		factors thereby ensuring that the gospel of the Kingdom reaches out to the believer in every part of the world.</p>
             </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== About Us End ====== --> 
  



<!-- ====== About Details Start ====== -->
<section id="about-detail" class="index-3" style="background-color: rgb(241,241,241);>
  <div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mid-content">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="img-area">
            <img src="img/why-choose-us.jpg" alt="Why Choose Us" /> 
          </div>
         <div class="section_heading">
            <h4>Our <span>Core Values?</span></h4>
             <div class="separator left-align ">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
          </div>
          <div class="description">
            <p>Our core values include Christian Accountability, Mentorship and Fellowship.</p>
          </div>
        </div>

 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="img-area">
            <img src="img/our-mission.jpg" alt="Our Mission" /> 
          </div>
         <div class="section_heading">
            <h4>Our <span>Vision</span></h4>
             <div class="separator left-align ">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
          </div>
          <div class="description">
            <p>Our greatest concern at Mortified is the believer’s growth and a walk patterned 
to that of the Spirit while stressing issues relating to purpose and the advancement of God’s kingdom. Our motivation is the 
earnest desire to see the growing believer loving God without recourse to the systems of this world and to be actively participatory 
in God’s agenda for this time and age.</p>
          </div>
        </div>



<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="img-area">
            <img src="img/our-vision.jpg" alt="Our Mission" /> 
          </div>
         <div class="section_heading">
            <h4>What <span>we do</span></h4>
             <div class="separator left-align ">
                <ul>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
          </div>
          <div class="description">
            <p>We undertake trainings for our members 
who are interested in having help and guidance with their spiritual walk through our various programs 
targeted at achieving growth in the lives of our trainee members. Refer to our programs page to find an outline of our programs.</p>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
<!-- ====== About Details End ====== --> 
<!-- ====== Team Start ====== -->
<section id="our_team" class="index-3">
    <div class="container">
      <div class="section_heading">
        <h2>Our <span>Team</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content">  We have a team of members who are God-fearing, spiritually and morally seasoned, 
					committed and dedicated to the actualization of our vision, and are consistently working to ensure that the work of God 
					is brought to a good finish. They are trained and thoroughly schooled to carry out their functions by God and in good 
					faith.<br>&nbsp;Our team consists of the following departments below… </div>
      </div>
      <div class="col-lg-12 col-md-12 col-xs-12 content_sec">
        <div class="row">
           
            <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/eric.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Eric Gugua
				</a></h5>
                <span>Faculty Instructor</span> </div>
             
             
            </div>
          </div>
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/diepreye.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Diepreye Achimota Dickson</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		    <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/grace.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Grace Ene Godwin Ochela</a></h5>
                <span></span> </div>
             
             
            </div>
          </div>
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/bildad.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Bildad Luka</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		
		
		    <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/omamodhi.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Omamodhi God's Gift Kome</a></h5>
                <span></span> </div>
             
             
            </div>
          </div>
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/duru.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Duru Adaugo Precious</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		
		
		    <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/train.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Train Ebi-Owokeduobere Dunu</a></h5>
                <span></span> </div>
             
             
            </div>
          </div>
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/shelunim.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Shelunim Utam</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		
		
		    <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/obie.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Obie Umenwa</a></h5>
                <span></span> </div>
             
             
            </div>
          </div>
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/josephA.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Joseph Ashi Utam</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		
		
		    <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/goni.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Goni Henry Kenneth</a></h5>
                <span></span> </div>
             
             
            </div>
          </div>
		  
          <div class="item col-lg-6 col-md-6 col-md-12 col-xs-12">
            <div class="client_dp"> <img src="{% static 'img/team/joseph.jpg' %}" alt="Team" /> </div>
            <div class="team-card">
              <div class="name_designation">
                <h5><a href="team-member-detail.html">Joseph Immanuel</a></h5>
                <span></span> </div>
              
              
            </div>
          </div>
         
		
		</div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <!-- ====== Team End ====== --> 
  
  
  
  
  
  
  
  
  
  
  
  

  
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Forum</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> The Forum consists of the entire workforce. 
		It is the bedrock of the Mortified Platform and where decisions pertaining to 
		the network is made. All reports lie to the Forum and must be presented as and at when due.&nbsp; </div>
      </div>
  
  
  
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Administrative Department.</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> This department is in charge of the day to day running of the platform. All questions as to
		the mode of operation, schedule, the welfare of the trainees and general working of the programme is to be directed to 
		the administration. The department is also in charge of the admittance of members into the platform. </div>
      </div>
  
  
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Pastorate.</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content">This department is made up of the teachers or instructors that provide the daily /lectures that 
		are uploaded on the platform.&nbsp; </div>
      </div>
  
  
  
  
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Academic Department.</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content">This department is concerned with the academic calendar for all our programs. This includes setting out 
		the topics to be taught, books for consideration, bible study and the academic schedule for every programme. 
		They could also on the strength of the reports garnered from the Counsels provide for teachings on topics that 
		directly affect the trainees.. </div>
      </div>
  
  
  
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Training Department.</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> The training department oversees the training of the workforce. They’re also in charge of 
		Preparation activities for our programs.&nbsp; </div>
      </div>
  
    
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Follow-Up Department.</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> This is made up of the Counselors. They are saddled with the responsibility of catering for the spiritual 
		welfare and mentoring of the participants. Their duties include the exacting of a daily check on each trainee and reporting to 
		the Forum per time, to ensure that they are responsive on the platform and to generally cater for their spiritual wellbeing. A 
		counsellor also, is in a position to counsel participants with regards to issues that they may be facing. </div>
      </div>
  
  
    
     <div class="section_heading" style="background-color: rgb(241,241,241); padding-top: 3rem; padding-bottom: 0rem;">
        <h2>The <span>Media Team</span></h2>
        <div class="separator">
          <ul>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="heading_content"> The media team consists of tech professionals who are responsible for the management of our online platforms 
		and all media concerns. They create content designed to help the walk of the young believer, and upload them per time on our various 
		media platforms. They are made up of writers, readers, graphics designers, web developers, digital content creators amongst other 
		media related professionals. </div>
      </div>
  
  

  
  
  
  


</div>
</div>
{% endblock %}